/*
 * Copyright (c) 2022 Hiroki Tada
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	sensors {
		us0: hc-sr04 {
			compatible = "elecfreaks,hc-sr04";
			label = "HC-SR04_0";
			trig-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
			echo-gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
			status = "okay";	
		};
	};
};

